.bg-primary {
    background-color: #4e4e6d; /* Replace with the matte blue color you want */
  }
  .navbar-light .white-text {
    color: #fff; /* Set the color to white */
  }
  .navbar-brand{
    color :#fff;
  }